In [1]:
import pandas as pd 
from pandas import Series, DataFrame

In [8]:
# pip install beautifulsoup4

In [9]:
# pip install html5lib

In [21]:
from pandas import Series,DataFrame

In [2]:
from pandas import read_html

In [3]:
url = 'https://en.wikipedia.org/wiki/Table_(information)'

In [4]:
dframe_list = pd.io.html.read_html(url)
dframe = dframe_list[0]
dframe

  First name   Last name  Age
0       Tinu    Elejogun   14
1     Javier      Zapata   28
2       Lily   McGarrett   18
3  Olatunkbo    Chijiaku   22
4   Adrienne    Anthoula   22
5     Axelia  Athanasios   22
6  Jon-Kabat        Zinn   22
7    Thabang       Mosoa   15
8      Rhian       Ellis   12

In [8]:
# dframe.column.values