In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
json_obj ="""
{
"zoo_animal":"lion",
"food":["meat","veggies","Honney"],
"fur":"pink",
"cloths":null,
"diet":[{"zoo_animal":"wild_goat","food":"grass","fur":"brown"}]
}
"""

In [3]:
import json

In [5]:
data =json.loads(json_obj)

In [6]:
data

{'zoo_animal': 'lion',
 'food': ['meat', 'veggies', 'Honney'],
 'fur': 'pink',
 'cloths': None,
 'diet': [{'zoo_animal': 'wild_goat', 'food': 'grass', 'fur': 'brown'}]}

In [8]:
json.dumps(data)

'{"zoo_animal": "lion", "food": ["meat", "veggies", "Honney"], "fur": "pink", "cloths": null, "diet": [{"zoo_animal": "wild_goat", "food": "grass", "fur": "brown"}]}'

In [9]:
dframe = DataFrame(data['diet'])

In [10]:
dframe

  zoo_animal   food    fur
0  wild_goat  grass  brown