In [3]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [4]:
dframe = pd.read_csv('E:\data_sciencetextproject_demo\lec25.txt')

In [5]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [6]:
dframe = pd.read_csv('E:\data_sciencetextproject_demo\lec25.txt',header = None)

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [12]:
dframe=pd.read_table('E:\data_sciencetextproject_demo\lec25.txt',sep=',',header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [13]:
pd.read_csv('E:\data_sciencetextproject_demo\lec25.txt',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [14]:
dframe.to_csv('E:\data_sciencetextproject_demo\mytextdata.csv')

In [15]:
import sys

In [16]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [17]:
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [18]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [19]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [20]:
'url=https://docs.python.org/2/library/csv.html'

'url=https://docs.python.org/2/library/csv.html'