In [9]:
from io import StringIO
import pandas as pd

In [10]:
# import io

# # Create a StringIO object
# string_io = io.StringIO()

In [11]:
data="""\
Sample Animal Intelligence
1 Dog Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

In [12]:
dframe = pd.read_table(StringIO(data),sep='\s+')

In [13]:
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [17]:
pd.crosstab(dframe.Animal,dframe.Intelligence)

Intelligence  Dumb  Smart
Animal
Cat              2      1
Dog              1      2

In [18]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6