In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
dframe_wine = pd.read_csv('E:/testttttt/winequalityN.csv')

In [4]:
dframe_wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [22]:
def ranker(df):
    df['alc_content_rank'] = np.arange(len(df)) + 1
    return df

In [23]:
dframe_wine.sort_values('alcohol',ascending=False,inplace=True)

In [24]:
dframe_wine = dframe_wine.groupby('quality').apply(ranker)

In [25]:
dframe_wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc content_rank,alc_content_rank
5550,red,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.90,5,1,1
3918,white,6.4,0.35,0.28,1.6,0.037,31.0,113.0,0.98779,3.12,0.40,14.20,7,1,1
4503,white,5.8,0.61,0.01,8.4,0.041,31.0,104.0,0.99090,3.26,0.72,14.05,7,2,2
5486,red,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.00,8,1,1
6167,red,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.00,8,3,2

In [26]:
num_of_qual = dframe_wine['quality'].value_counts()

In [27]:
num_of_qual

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [28]:
 dframe_wine[dframe_wine.alc_content_rank ==1].head(len(num_of_qual))

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc content_rank,alc_content_rank
5550,red,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1,1
3918,white,6.4,0.35,0.28,1.6,0.037,31.0,113.0,0.98779,3.12,0.40,14.2,7,1,1
5486,red,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,1,1
6168,red,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6,5,1
3901,white,4.8,0.65,0.12,1.1,0.013,4.0,10.0,0.99246,3.32,0.36,13.5,4,1,1
1605,white,7.1,0.26,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9,1,1
740,white,6.9,0.39,0.40,4.6,0.022,5.0,19.0,0.99150,3.31,0.37,12.6,3,1,1